li{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar-brand{
    padding-left:18%;
}
.offcanvas-body{
    margin-left: 8%;
}
.navbar{
    padding-bottom: 1%;
}
.navbar-nav{
    padding-top:1%;
    display:flex;
    grid-gap:3%;
}
.nav-links{
    position:relative;
    transition:all 0.8s ease;
}
.nav-links::after{
    content:"";
    width:0%;
    position:absolute;
    bottom:-10px;
    left:0;
    background-color: rgb(224, 24, 24);
    height: 2px;
    transition:all 0.5s ease;
}
.nav-items:hover .nav-links::after{
    width:80%;
}
.nav-links{
    padding-right:20px;
}
.nav-links:hover{
    color:black;
}
.pagess{
    position:relative;
}
.dropdown-menus{
    position:absolute;
    top:60px;
    z-index: 2;
    background-color: black;
    pointer-events: all;
    transition: all 0.6s ease;
    opacity:0;
    visibility: hidden;
}
.dropdown:hover .dropdown-menus{
    opacity:1;
    top:35px;
    z-index: 2;
    pointer-events: all;
    transition: all 0.6s ease;
    visibility: visible;
}
.dropdown-menus li{
    color:white;
    margin:auto;
    margin-left:-15%;
    padding-top:6%;
    padding:3%;
}

.body-text{
    font-size: 18px;
    color:black;
}
.header__nav__option{
    padding-right:25%;
    padding-top:1%;
}
.price{
    margin-top:6%;
}
.drop-money:hover > .dropdown-menu{
    display:block;
}
.banner-slide-item{
    position:relative;
}
.banner-slide-img img{
    max-width:100%;
}
.banner-slide-content{
    position: absolute;
    width:70%;
    height: 100%;
    left: 20%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap:2%;
}
.banner-slide-content h1{
    font-size: 53px;
}
.shop_now{
    background-color: black;
    color:white;
    padding: 1% 3%;
    text-transform: uppercase;
}
.shop_now:hover{
    color:white;
}
.hero__social{
    position:absolute;
    top:95%; 
    left: 1%;
    grid-gap:45%;
    opacity:0.9;
}

.banner-area{
    padding-top:8%;
    position:relative;
    align-items: center;
    justify-content: center;
}
.banner__item{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position:relative;
}
.banner__item--middle{
    position:absolute;
    top:38%;
    left:10%;
}
.banner__item__text{
    position:relative;
    right:-65px;
}
.banner__item__text h2{
    font-size: 40px;
}
.banner_item_pic {
    display:flex;
}
.banner__item--last{
    /* background-color: aqua; */
    padding-top:14%;
    position:relative;
}
.banner_item_pic img {
    width:100%;
    min-width:300px;
}
.banner__item__text a{
    font-weight: bold;
    color:black;
    font-size: 16px;
    text-transform: uppercase;
    transition:all 0.4s ease;
    position:relative;
}
.banner__item__text a::after{
    transition:all 0.4s ease;
    content:"";
    width:100%;
    position:absolute;
    bottom:-5px;
    left:0;
    background-color: black;
    height: 2px;
}
.banner__item:hover .banner__item__text a::after{
    background-color: red;
    width: 50%;
}
.banner__item--middle:hover .banner__item__text a::after{
    background-color: red;
    width: 50%;
}


.nav-link{
    background-color: white;
}
.product__item{
    position:relative;
    /* border:1px solid black; */
    justify-content: center;
    padding-bottom:25%;
}
.add-cart{
    color:red;
    font-weight: 500;
    z-index: 100;
    position:absolute;
    top:56%;
    opacity:0;
    visibility:hidden;
    transition:all 0.6s ease;
}
.product__item:hover .add-cart{
    top:62%;
    opacity:1;
    visibility:visible;
    transition:all 0.4s ease;
}
.product__item:hover h6{
    opacity:0;
    visibility:hidden;
    transition:all 0.4s ease;
}
.product__item__pic{
    position:relative;
    max-width:100%;
}
.label{
    font-size: 12px;
    text-transform:uppercase;
    font-weight: 600;
    position:absolute;
    z-index: 2;
    background-color: white;
    padding:1% 8%;
    top:5%;
}
.product__hover{
    position:absolute;
    top:5%;
    right:-10%;
    opacity:0;
    visibility:hidden;
    transition:all 0.6s ease;
}
.product__item:hover .product__hover{
    right:10%;
    opacity:1;
    visibility:visible;
    transition:all 0.6s ease;
}
.product__hover a{
    color:black;
}
.product__hover img{
    background-color: white;
    margin:7%;
    /* border: 1px solid black; */
    padding:12%;
}
.compare{
    color:white;
    height:fit-content;
    padding:1% 4%;
    z-index: 3;
    background-color: black;
    opacity:0;
    visibility:hidden;
    transition:all 0.5s ease;
}
.comp:hover .compare{
    z-index: 2;
    opacity:1;
    visibility:visible;
    transition:all 0.5s ease;
}
.product__item__text{
    padding-top:3%;
}
.product__color__select{
    padding-left:45%;
    opacity:0;
    visibility:hidden;
    transition:all 0.4s ease;
}
.product__item:hover .product__color__select{
    opacity:1;
    visibility:visible;
    transition:all 0.4s ease;
}
.rating .st{
    color:orange;
}
.pc-1{
    color:rgb(91, 88, 255);
}
.pc-2{
    color:rgb(0, 41, 0);
}
.pc-3{
    color:rgb(209, 102, 52);
}


.contain{
    grid-template-columns: 30% 25% 85%;
    flex-wrap:wrap;
}
.categories{
    height:fit-content;
    padding:10% 0;
    background:rgb(243, 240, 238);
    position:relative;
}
.hot_deals{
    position:absolute;
    top:28%;
}
.categories__text{
    position:absolute;
    top:25%;
    left:0%;
    background-color:white;
    height:50%;
    width:26%;
}
.cat_text_item{
    position:absolute;
    left:70%;
    top:15%;
    /* background-color: aqua; */
    width:80%;
}
.cat_text_item h1{
    padding:3%;
}
#item1{
    color:rgb(199, 197, 197);
}
.categories__hot__deal{
    /* background-color:aqua; */
    position:relative;
}
.hot__deal__sticker{
    position:absolute;
    top:-15%;
    right:-4%;
    text-align: center;
    color:white;
    padding:8%;
    border-radius: 85%;
    display:inline-block;
    background-color: black;
}
.deal-title{
    color:red;
    font-size:15px;
    font-weight: 600;
    text-transform:uppercase;
}
.categories__deal__countdown{
    /* background-color: red; */
    position:relative;
}
.categories__deal__countdown a{
    position:absolute;
    top:130%;
    background-color:black;
    color:white;
    padding:3% 12%;
}
.categories__deal__countdown__timer{
    grid-template-columns: repeat(4,auto);
    grid-row-gap:15%;
}
.time-title{
    /* background-color:aqua; */
    font-size: 40px;
    grid-column: 1 / 5;
}
.day{
    font-size:40px;
    font-weight: 600;
    /* background-color:aqua; */
}
.days{
    padding-left:8%;
}


.instagram{
    padding:6%;
}
.instagram__pic{
    /* background-color: blue; */
    flex-direction: row;
    flex-wrap: wrap;
}
