li{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar-brand{
    padding-left:18%;
}
.offcanvas-body{
    margin-left: 8%;
}
.navbar{
    padding-bottom: 1%;
}
.navbar-nav{
    padding-top:1%;
    display:flex;
    grid-gap:3%;
}
.nav-links{
    position:relative;
    transition:all 0.8s ease;
}
.nav-links::after{
    content:"";
    width:0%;
    position:absolute;
    bottom:-10px;
    left:0;
    background-color: rgb(224, 24, 24);
    height: 2px;
    transition:all 0.5s ease;
}
.nav-items:hover .nav-links::after{
    width:80%;
}
.nav-links{
    padding-right:20px;
}
.nav-links:hover{
    color:black;
}
.pagess{
    position:relative;
}
.dropdown-menus{
    position:absolute;
    top:60px;
    z-index: 2;
    background-color: black;
    pointer-events: all;
    transition: all 0.6s ease;
    opacity:0;
    visibility: hidden;
}
.dropdown:hover .dropdown-menus{
    opacity:1;
    top:35px;
    z-index: 2;
    pointer-events: all;
    transition: all 0.6s ease;
    visibility: visible;
}
.dropdown-menus li{
    color:white;
    margin:auto;
    margin-left:-15%;
    padding-top:6%;
    padding:3%;
}

.body-text{
    font-size: 18px;
    color:black;
}
.header__nav__option{
    padding-right:25%;
    padding-top:1%;
}
.price{
    margin-top:6%;
}
.drop-money:hover > .dropdown-menu{
    display:block;
}
.banner-slide-item{
    position:relative;
}
.banner-slide-img img{
    max-width:100%;
}
.banner-slide-content{
    position: absolute;
    width:70%;
    height: 100%;
    left: 20%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap:2%;
}
.banner-slide-content h1{
    font-size: 53px;
}
.shop_now{
    background-color: black;
    color:white;
    padding: 1% 3%;
    text-transform: uppercase;
}
.shop_now:hover{
    color:white;
}
.hero__social{
    position:absolute;
    top:95%; 
    left: 1%;
    grid-gap:45%;
    opacity:0.9;
}

.banner-area{
    padding-top:8%;
    position:relative;
    align-items: center;
    justify-content: center;
}
.banner__item{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position:relative;
}
.banner__item--middle{
    position:absolute;
    top:38%;
    left:11%;
}
.banner__item__text{
    position:relative;
    right:-75px;
}
.banner__item__text h2{
    font-size: 40px;
}
.banner_item_pic {
    display:flex;
}
.banner__item--last{
    /* background-color: aqua; */
    padding-top:14%;
    position:relative;
}
.banner_item_pic img {
    width:100%;
    min-width:300px;
}
.banner__item__text a{
    font-weight: bold;
    color:black;
    font-size: 16px;
    text-transform: uppercase;
    transition:all 0.4s ease;
    position:relative;
}
.banner__item__text a::after{
    transition:all 0.4s ease;
    content:"";
    width:100%;
    position:absolute;
    bottom:-5px;
    left:0;
    background-color: black;
    height: 2px;
}
.banner__item:hover .banner__item__text a::after{
    background-color: red;
    width: 50%;
}
.banner__item--middle:hover .banner__item__text a::after{
    background-color: red;
    width: 50%;
}