@media screen {
    
}
.row{
    clear: both;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
/* header trên */
.header{
    /*background-color: yellow */ 
    padding-bottom:40px;
    border-bottom: 1px solid rgb(158, 155, 155);
}
.call{
    /* background-color:pink; */
    padding-left: 150px;
}
.menu{
    list-style: none;
    position:relative;
    right: 180px;
    /* background-color:aquamarine; */
}
.menu-item{
    padding: 0px 15px;
    border-right:1px solid rgb(143, 135, 135);
}
.header-text{
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}
/* header dưới */
.main_menu{
    padding-top: 20px;
    /* background-color:red; */
}
.nav{
    /* padding-left: 100px; */
    background-color:yellow;
}
.navbar-logo{
    padding-left: 130px;
}
.padding{
    padding-left: 350px;
}
.navbar1{
    /* padding-left: 350px; */
    background-color: aqua;
    /* position:absolute; */
}
.navbar1-item{
    list-style: none;
    /* padding-left: 30px; */
    padding-right: 70px;
    font-size: 12px;
    font-weight:bolder;
    text-transform: uppercase;
    position:relative;
    /* border: 1px solid; */
}
.link-item:hover {
    color:blue;
}
.navbar1-sub{
    text-decoration: none; 
    text-transform: uppercase;
    list-style: none;
    position:absolute;
    padding:0;
    transition: all 1s ease;
    top: 100px;
    opacity:1;
    visibility:visible;
    pointer-events:none;
    transition: all 1s ease;
}
.link-item{
    text-decoration: none; 
    transition: all 1s ease;
}
.sub-item{
    padding:10px;
    text-decoration-color: black;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    position: relative;
    
}
.nav-link-item{
    text-decoration: none;
    font-size: 12px;
    transition: all 1s ease;
}
.navbar1-item:hover .navbar1-sub{
    top: 18px;
    opacity:1;
    visibility:visible;
    pointer-events: all;
}
.sub-item:hover{
    background-color:blue;
    color: black;
}




.menu-icon{
    padding-left: 100px;
}
