*{
    box-sizing: border-box;
}
html,body{
  padding: 0;
  margin: 0;
}
.row{
  clear:both;
}
.header_area{
  padding: 0 10%;
  border-bottom: 1px solid rgb(233, 228, 228);
  background-color: rgb(255, 255, 255);
}
.top_menu{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}
.phone-number{
  text-transform: uppercase;
  color: #aaa;
  font-size: 14px;
}
.right_side{
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-column-gap:20px;
}
.right_side li {
  list-style: none;
  position: relative;
  font-size: 10px;
  /* border-right: 1px solid red; */
}
.right_side li::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 1px;
  background: #aaa;
  margin-top: 5px;
  right: -10px;
  top: 0;
}
.right_side li:last-child::after {
  display: none;
}
.right_side a{
  color: #aaa;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  transition:all 1s ease;
}
.right_side a:hover{
  color: blue;
  transition:all 1s ease;
}

  /* main menu */
.container-fluid{
  display: flex;
  padding: 10px 5%;
}
.navbar-toggler{
  display: none;
}
.navbar-brand{
  width: 35%;
  /* background-color: #aaa; */
}
.navbar-collapse{
  width: 65%;
  /* background-color:aqua; */
}
.menus{
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-column-gap: 15%;
}
.center_nav{
  padding: 0;
  display:flex;
}
.nav-item{
  position: relative;
  transition: all 1s ease;
  padding: 0 42px;
  width: 60px;
}
.dropdown-menu{
  position: absolute;
  padding: 0;
  top: 35px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 1s ease;
}
.dropdown-menu li{
    padding:10px  20px;
    transition: all 1s ease;
    width: 220px;
    background-color: white;
    transition: all 0.5s ease;
    border-bottom: 1px solid rgba(150, 129, 129, 0.324);
}
.dropdown-menu li:hover{
    background-color: blue;
}
.dropdown-menu li:hover .nav-link{
    color: white;
}
.nav-link{
    color: black;
    transition: all 0.5s ease;
    font-size: 13px;
    
}
.submenu:hover .dropdown-menu{
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    top: 9px;
    transition: all 0.6s ease;
}
.dropdown-menu{
    position: absolute;
    padding: 15px !important;
    padding-top: 32px !important;
    padding-bottom: 0 !important;
    top:40px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.6s ease;
    left: -2px;

}
.nav-link:hover{
  color:blue;
}
.dropdown-menu li a{
  color: rgb(0, 0, 0);
}
li{
  list-style: none;
  font-weight: bold;
}
a{
  text-decoration: none;
  text-transform: uppercase;
 }
.navbar-right{
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-column-gap: 10px;
}
.navbar-right .nav-item{
  width: fit-content;
}
.navbar-right .nav-item i{
  color: black;
}
.main_menu{
  position: sticky;
  top: 0;
  background: #f5f5f5;
  z-index: 1000;
  padding: 3px 5%;
  box-shadow: 0px 0px 10px 0px #aaa;
}
.col-lg-5 li a i:hover {
  color:blue;
}

/* banner */
.banner_inner{
  background-image: linear-gradient(to bottom, #44434346, #00000016), url('./img/banner-bg.jpg');
  /* min-height: max(500px, 80vh); */
  max-width: 1900px;
  height:max(700px);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner_content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  /* background-color: aqua; */
}
.banner_content-wrap{
  width: 70%;
  max-width: 700px;
  height:200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner_content-wrap h2{
  color:white;
  font-size: 62px;
  text-align:center;
}
.banner_content-wrap p{
  color:white;
  margin:0;
  /* background-color: aquamarine; */
}
.banner_content-wrap a{
  font-size: 12px;
  margin-top: 8%;
  padding: 18px 28px;
  color: black;
  border-radius: 5px;
  background-color: white;
  font-weight: bolder;
  transition:all 0.8s ease;
}
.banner_content-wrap a:hover{
  color:white;
  background-color: blue;
  transition:all 0.6s ease;
}

/* hot deals */
.hot_deals_area{
  padding: 70px 3%;
}
.hot_deals_area_wrap{
  display: flex;
  grid-gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: aqua; */
}
.content{
  /* background-color: aqua; */
  background-image: linear-gradient(to bottom,#5a595986, #38373786), url('./img/deal1.jpg');
  width:780px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition:all 1.5s ease;
}
.content h2{
  color:white;
  font-size: 25px;
  font-weight: bolder;
}
.content a{
  color: white;
}
.content:hover{
  background: linear-gradient(to bottom,#003bfc95,#003bfc95), url('./img/deal1.jpg'); 
  transition:all 1.5s ease;
}

/* logo */
.clients_logo_area{
  padding-bottom: 5%;
}
.clients_slider{
  display:grid;
  grid-template-columns: repeat(5,auto);
  justify-content:space-evenly;
}
.clients_slider img{
  opacity:0.3;
  transition: all 1 ease;
}
.clients_slider img:hover{
  opacity:1;
  transition: all 1 ease;
}

/* features products */
.main_title{
  text-align: center;
}
.main_title h2{
  font-size: 39px;
}
.main_item{
  display: flex;
  padding: 30px 0;
  grid-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(5,auto);
}
.products{
  /* background-color: aqua; */
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px #aaa;
}
.f_p_item{
  position:relative;
}
.p_icon{
  position:absolute;
  top:63%;
  left: 67%;
  transition:all 0.5s ease;
  opacity:0;
}
.p_icon a{
  padding:5px;
}
.p_icon i{
  color:black;
  /* border: 1px solid; */
  border-radius: 5px;
  background-color:white;
  padding: 10px;
  transition:all 1s ease;
}
.f_p_item:hover .p_icon{
  top:63%;
  left: 58%;
  transition:all 0.5s ease;
  opacity:1;
}
.p_icon i:hover{
  background-color:blue;
  color:white;
  transition:all 1s ease;
}
.cost{
  text-align: center;
}
.cost h4{
  color: black;
  font-size: 18px;
}
.cost p{
  font-weight:bolder;
  font-size: 18px;
  opacity: 0.6;
}
.pagination{
  padding: 40px 0 100px 0px;
  display:flex;
  justify-content: center;
}
.page-item a{
  padding:10px;
  /* border:1px solid black; */
  color:black;
  transition:all 0.5s ease;
}
.page-item a:hover{
  color:white;
  background-color:blue;
  transition:all 0.5s ease;
}

/* log in */
.subscription-area{
  background-color: rgb(247, 247, 255);
  height:365px;
  display:grid;
  align-items: center;
  justify-content: center;
}
.section-title{
  text-align: center;
}
#title1{
  font-size: 32px;
}
#mc_embed_signup{
  padding-top:12%;
}
#mail{
  padding: 17px 350px 17px 20px;
  border-radius: 25px;
  position:absolute;
  border:none;
}
#button{
  font-size: 15px;
  background-color: rgb(49, 86, 250);
  color:white;
  font-weight:bolder;
  position:relative;
  left:390px;
  top: 2px;
  border:none;
  border-radius: 25px;
  padding: 14px 40px 14px 40px;
  transition: all 0.8s ease;
}
#button:hover{
  background-color: white;
  color:blue;
  border:0.5px solid blue;
  transition: all 0.8s ease;
}

/* footer */
.containss{
  /* background-color: aqua; */
}
.footer_part{
  /* display:grid;
  grid-template-columns: repeat(4,auto); */
  display:flex;
  /* align-items: center; */
  justify-content: center;
  grid-gap:30px;
  padding-top:5%;
  padding-bottom: 2%;
  flex-wrap: wrap;
}
.about{
  /* border:1px solid black; */
  /* background-color:red; */
  width:260px;
}
.about p{
  font-weight: lighter;
  color:#757373
}
.update{
  /* background-color:grey; */
  /* border:1px solid black; */
  width:360px;
  height:150px;
  display:grid;
  /* grid-template-rows: repeat(2,auto); */
  /* justify-content: center;
  align-items: center; */
}
.update p{
  font-weight: lighter;
  color:grey;
}
.input-group{
  padding-top:10px;
}
.input-group input{
  border:none;
  padding:12px 173px 12px 20px;
  background-color:rgb(247, 247, 255);
  position:absolute;
}
.input-group button{
  background-color:rgb(34, 34, 255);
  color:white;
  border:none;
  position:relative;
  left: 326px;
  padding:12px 12px;
  transition:all 1s ease;
}
.photos{
  /* background-color:aqua; */
  /* border:1px solid black; */
  width:300px;
  height:200px;
}
.instafeed{
  display:flex;
  /* grid-template-columns: repeat(4,auto); */
  align-items: center;
  justify-content: space-around;
  /* justify-content: center;
  align-items: center; */
  flex-wrap: wrap;
}
.follow{
  /* background-color:blue; */
  /* border:1px solid black; */
  width:200px;
}
.follow p{
  color:grey;
  font-weight: lighter;
}
.f_social i{
  color:rgb(94, 94, 94);
  padding:0 6px;
}
.footer-bottom{
  text-align:center;
}